%h1.text-center OctoStats
%p.text-center.lead Search for a username to git some hip stats:
.row
  .col-4.col-offset-4
    = form_tag('javascript:user.call(this);', method: "get", class: "form-inline") do
      = text_field_tag(:username, nil, class: 'form-control', placeholder: 'Type usename here...')
      = submit_tag('Find', class: 'btn btn-default', style: 'display: none;')
%hr