%p.text-center.lead Search for a username or a repository:
.row
  .col-12.col-sm-6.col-lg-4.col-lg-offset-4.col-sm-offset-3
    = form_tag('javascript:user.call(this);', method: "get", class: "form-inline") do
      = text_field_tag(:username, class: 'form-control input-lg', placeholder: 'Type a usename or username/repo...', id: 'username')
      = submit_tag('Find', class: 'btn btn-default', style: 'display: none;', id: 'find')
%hr
%h1{style: 'font-weight: lighter;'} About
%p.lead
  This is the part where I talk about the project but since I don't even fully know what I'm doing yet this is just going to stay the way it is.
%hr
.text-center
  %small Copyright (c) 2013 Kristen Mills